.container {
  padding: 0 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title {
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  margin: 60px 100px 0px 100px;
}

.noMovie {
  font-weight: 400;
  font-size: 25px;
  padding: 0 70px;
  margin-top: 100px;
  margin-bottom: 230px;
}

/* Extra small devices */
@media only screen and (max-width: 600px) {
  .title {
    font-size: 27px;
  }
  .container {
    padding: 0 30px;
    display: block;
  }
  .noMovie {
    font-size: 20px;
  }
}

/* Small devices */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .title {
    font-size: 40px;
  }
  .container {
    padding: 0 30px;
    display: block;
  }
}

/* Medium devices */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 0 30px;
    display: block;
  }
}
/* Large devices */
@media only screen and (min-width: 1025) and (max-width: 1980px) {
  .container {
    padding: 0 30px;
    display: block;
  }
}

/* Extra Large devices */
@media only screen and (min-width: 1981px) {
  .container {
    padding: 0 10%;
  }
}
