.cont {
}
.title {
  color: #66fcf1;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  margin: 60px 100px;
}

.middle {
  margin: 80px 130px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.linkCont {
  display: flex;
  align-items: center;
  justify-content: baseline;
  margin-bottom: 40px;
}

.subTitle {
  color: #66fcf1;
  font-size: 30px;
  text-decoration: none;
  margin-right: 20px;
}

.slideCont {
  margin-top: 100px;
  margin-bottom: 150px;
}

.footer {
  display: flex;
  margin-bottom: 80px;
  justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* styles for extra small devices */
  .title {
    font-size: 30px;
    line-height: 1.4;
    font-weight: 500;
  }

  .middle {
    margin: 80px 80px;
  }
}

/* Small devices (portrait tablets and large phones, 601px to 768px) */
@media only screen and (max-width: 768px) {
  /* styles for small devices */
  .slideCont {
    display: none;
  }
}

/* Medium devices (landscape tablets, 769px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  /* styles for medium devices */
}

/* Large devices (laptops/desktops, 993px and up) */
@media only screen and (min-width: 993px) {
  /* styles for large devices */
}
