.container {
  justify-content: center;
  align-items: center;
  padding: 0 80px;
  margin-top: 160px;
  margin-bottom: 200px;
}

.search {
  width: 100%;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.input > input {
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #66fcf1;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
  width: 60%;
  outline: none;
}

.found {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
}
.notFound {
  font-size: 25px;
  text-align: center;
}

/* Extra small devices */
@media only screen and (max-width: 600px) {
  /* styles for extra small devices */
  .container {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .input > input {
    width: 75%;
    font-size: 15px;
  }
  .notFound {
    font-size: 18px;
  }
}

/* Small devices */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .container {
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .notFound {
    font-size: 20px;
  }
}

/* Medium devices */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}
/* Large devices */
@media only screen and (min-width: 1025) and (max-width: 1980px) {
}

/* Extra Large devices */
@media only screen and (min-width: 1981px) {
}
