.container {
  justify-content: center;
  align-items: center;
  padding: 0 80px;
  margin-top: 160px;
}

.search {
  width: 100%;
}

.input {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 50px;
}
.input > input {
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #66fcf1;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
  width: 60%;
  outline: none;
}

.content {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 100px;
  margin-top: 100px;
}
