.container {
  display: flex;
  margin-bottom: 80px;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  img {
    width: 130px;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    margin-top: 200px;
  }
}
