.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.spinner {
  width: 43px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  border-radius: 50%;
  border: dashed 4px #66fcf1;
  animation: loading 2s infinite linear;
}

.text {
  font-size: 14px;
  color: #c5c6c8;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
