.container {
  padding: 0 140px;
}
.firstLine {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.firstLine > h1 {
  margin: 0 50px 0 0;
}

.heartIcon {
  opacity: 0.3;
}

.heartIcon:hover {
  transform: scale(1.2);
  transition: all 0.2s ease;
  cursor: pointer;
}

.heart {
  background-color: transparent;
  border: none;
}

h3 {
  font-weight: 400;
}

.secondLine {
  display: flex;
  margin-bottom: 20px;
}
.secondLine > h3 {
  margin: 0 40px 0 0;
}

.genre {
  display: flex;
  margin-bottom: 20px;
}
.genre > h3 {
  margin: 0 20px 0 0;
}

.summary > p {
  font-size: 15px;
}
