p {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}

.container {
  margin-top: 180px;
  display: flex;
  justify-content: center;
}

.infoMid {
  margin-bottom: 15px;
}
.infoContent {
  margin-bottom: 25px;
}

.flex {
  display: flex;
}

.flex > p:first-child {
  margin-right: 1em;
}

.contentBox {
  background-color: #0b0c10;
  border: 2px solid #66fcf1;
  border-radius: 5px;
  position: relative;
  width: 470px;
  height: 320px;
  padding: 15px 25px;
  margin: 0;
}

.movieImg {
  margin-right: 25px;
  position: absolute;
  top: -30px;
  /* display: none; */
}
.movieImg > img {
  width: 170px;
  height: auto;
}
.movieImg:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
}

.title {
  padding-right: 70px;
}
.infoTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movieInfo {
  color: #c5c6c8;
  margin-left: 190px;
}

.genre {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
}
.genre > p {
  margin-right: 10px;
}

.detailLink {
  font-weight: 500;
  text-decoration: underline;
  margin-left: 5px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* styles for extra small devices */
  .contentBox {
    width: 200px;
    height: auto;
  }
  .title {
    font-size: 15px;
    padding-right: 0;
  }
  p {
    font-size: 12px;
  }
  .movieImg > img {
    width: 80px;
  }
  .movieInfo {
    margin-left: 100px;
  }
  .movieImg {
    top: 30px;
  }
}

/* Small devices (portrait tablets and large phones, 601px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  /* styles for small devices */
}

/* Medium devices (landscape tablets, 769px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  /* styles for medium devices */
}

/* Large devices*/
@media only screen and (min-width: 2000px) {
  /* styles for large devices */
}
