@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background: #0b0c10;
  font-family: "Open Sans", sans-serif;
  color: white;
}

a {
  color: white;
  font-weight: 500;
}

/* for swiper on the home page */
.swiper {
  width: 100%;
  text-align: -webkit-center;
  --swiper-theme-color: rgb(102, 252, 241);
}
